@model IEnumerable<GrabIt.Models.DOWNTIMEVIEW>
@{
    ViewBag.Title = "Downtime";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Downtime</h2>
@MyHelpers.PageLogos()
<script type="text/javascript">
    $(document).ready(function () {
        $('#TblDownTime').dataTable({
            "order": [0, 'desc']
        });
    });
    function scrollto(){
        var Tag = $("#BtnAddDowntime")

        $('html,body').animate({scrollTop: Tag.offset().top}, 'slow');

    }




</script>
<input onclick="scrollto();" type="button" class="btn btn-default" value="Add">
<br />
<table id="TblDownTime" class="table table-striped table-bordered" cellspacing="0" width="100%" style="font-size: 11px;">
    <thead>
        <tr>

            <th style="width:90px;"> Downtime Date</th>
            <th> @Html.DisplayNameFor(model => model.StartTime)</th>
            <th> @Html.DisplayNameFor(model => model.EndTime)</th>
            <th> @Html.DisplayNameFor(model => model.Area)</th>
            <th> @Html.DisplayNameFor(model => model.AffectedArea)</th>
            <th> @Html.DisplayNameFor(model => model.Reason)</th>
            <th> @Html.DisplayNameFor(model => model.EquipmentTag)</th>
            <th> @Html.DisplayNameFor(model => model.ResponsiblePerson)</th>
            <th> @Html.DisplayNameFor(model => model.Notes)</th>
            <th> @Html.DisplayNameFor(model => model.UserName)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string date = item.Date.ToString("yyyy-MM-dd");
            string start = item.StartTime.ToString("HH:mm");
            string End = item.EndTime.ToString("HH:mm");
            string DowntimeID = item.DownTimeID.ToString();

            <tr>
                <td> @date<span onclick="getDowntimeByID(@DowntimeID)" class="glyphicon glyphicon-pencil" style="color:limegreen; padding-left:20px; cursor: pointer;" title="Edit"></span></td>
                <td> @start</td>
                <td> @End</td>
                <td> @Html.DisplayFor(modelItem => item.Area)</td>
                <td> @Html.DisplayFor(modelItem => item.AffectedArea)</td>
                <td> @Html.DisplayFor(modelItem => item.Reason)</td>
                <td> @Html.DisplayFor(modelItem => item.EquipmentTag)</td>
                <td> @Html.DisplayFor(modelItem => item.ResponsiblePerson)</td>
                <td> @Html.DisplayFor(modelItem => item.Notes)</td>
                <td> @Html.DisplayFor(modelItem => item.UserName)</td>

            </tr>
        }
    </tbody>
</table>
<div class="horizontalRule"></div>
@{Html.RenderAction("DownTimeAdd", "DownTime");}