@model IEnumerable<GrabIt.Models.AspNetUser>

<style>
    td > button {
        margin: 5px 5px 5px 0 !important;
    }
</style>




<div class="container" style="padding-bottom: 50px;">
    <div class="row">
        <div class="col-md-10">



            <table id="userTbl" class="table table-striped table-bordered" cellspacing="0" width="100%" style="font-size: 15px;">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>Users Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int counter = 1;
                        string divname = "";
                    }

                    @foreach (var item in Model)
                    {
                        if (@ViewBag.Users[counter - 1] != null)
                        {
                            divname = "userDetail" + counter.ToString();
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    <span> @ViewBag.Users[counter - 1].UserName.Trim()</span>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-default btn-sm" onclick="showDetailsDiv(@counter)" style="margin-left:10px;">
                                        <span class="glyphicon glyphicon-edit"></span> Edit User
                                    </button>

                                   
                                    @*this will display the enable Disable user buttons*@
                                    @if (@item.Deleted == true)
                                    {
                                        <button type="button" class="btn btn-default btn-sm" onclick="showDeleteWarn('@item.Email', @item.Deleted);" style="margin-left:10px;">
                                            <span class="glyphicon glyphicon-off" style="color:red;"></span> Enable User
                                        </button>
                                    }
                                    else
                                    {

                                        <button type="button" class="btn btn-default btn-sm" onclick="showDeleteWarn('@item.Email', false);" style="margin-left:10px;">
                                            <span class="glyphicon glyphicon-off" style="color: green;"></span> Disable User
                                        </button>

                                    }

                                    <div style="display: none;" id='@divname'>
                                        <div style=" position: relative; height: 100%;">
                                            <div class="container">
                                                <div class="row">

                                                    <fieldset style="">
                                                        <h3 style="">@item.Email</h3>
                                                        <div class="form-group">
                                                            <label class="col-md-6 control-label" style="margin-top: 20px;" for="UserName">User Name</label>
                                                            <input class="form-control col-md-6 usrnameinput" data-val="true" data-val-length="" data-val-length-max="100" data-val-length-min="6" data-val-required="The Password field is required." id="UserName" name="UserName" type="text" value="@ViewBag.Users[counter - 1].UserName.Trim()">
                                                            <span class="col-md-10 usrnameinputerror" style="color: red;display: none;">The Users Name field is required.</span>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-md-6 control-label" style="margin-top: 20px;" for="Password">Password</label>
                                                            <input class="form-control col-md-6 usrpasswordinput" data-val="true" data-val-length="The Password must be at least 6 characters long." data-val-length-max="100" data-val-length-min="6" data-val-required="The Password field is required." id="Password" name="Password" type="password" placeholder="Leave Blank To Ignore">
                                                            <span class="col-md-10 usrpasswordinputerror" style="color: red; display: none;">The Password must be at least 6 characters long.</span>
                                                        </div>


                                                    </fieldset>

                                                </div>
                                            </div>
                                            <div class="container" style="height: 50px;width: 100%; position: absolute; bottom: 0;">
                                                <div class="row col-sm-12">
                                                    <div class="form-group  col-sm-4 pull-right">
                                                        <button type="button" class="btn btn-default btn-sm" onclick="saveUserInfo('@divname','@item.Email.Trim()')" style="margin-left:10px;">
                                                            <span class="glyphicon glyphicon-save"></span> Save
                                                        </button>
                                                    </div>
                                                    <div class="form-group col-sm-4 pull-right">
                                                        <button type="button" class="btn btn-default btn-sm" onclick="closePopup('@divname');" style="margin-left:10px;">
                                                            <span class="glyphicon glyphicon-remove"></span> Close
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            //Counter for the id of the personal info div

                        }
                        counter++;
                    }
                </tbody>

            </table>
            <div style="display: none;">
                <div id="ConfirmDisable">
                    <div class="container" style="">
                        <p id="confirmDisablehead"></p>
                        <div class="row col-sm-8" style="width: 90%; position: absolute;bottom: 0;">
                            <div class="form-group  col-sm-4 pull-right">
                                <button type="button" class="btn btn-default btn-sm" onclick="$('#ConfirmDisable').dialog('destroy');" style="margin-left:10px;">
                                    <span class="glyphicon glyphicon-remove"></span> Cancel
                                </button>
                            </div>
                            <div class="form-group col-sm-4 pull-right">
                                <button type="button" class="btn btn-default btn-sm" onclick="restrictUser(this); " style="margin-left:10px;">
                                    <span class="glyphicon glyphicon-save"></span> OK
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#userTbl').dataTable({
            "order": [0, 'desc']
        });
    });
    var resEmail = "";
    var glbDeleted = false;
    function showDeleteWarn(email, deleted) {
        var message = 'Are You sure you want restrict the user ' + email + '?';
        glbDeleted = deleted;
        resEmail = email;

        $("#confirmDisablehead").html(message);
        $("#ConfirmDisable").dialog({
            open: addCloseBtn,
            title: "Warning!",
            width: 400,
            height: 200,
        });
        

    }

    function restrictUser(dialogRef) {
        var url = '@(Url.Action("LockUser", "Account"))';

        if (glbDeleted) {
            url = '@(Url.Action("UnlockUser", "Account"))';
        }
        //call to restrict the user from using the system
        if (resEmail) {
            $.ajax({
                url: url,
                data: { username: resEmail },
                contentType: 'application/json',
                success: function () {
                    $("#UserListDiv").load('@Url.Action("UserList", "Admin")');

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(thrownError);

                }
            });
        }


        $('#ConfirmDisable').dialog('destroy');
    }


    function showDetailsDiv(id) {

        $("#userDetail" + id).dialog({
            open: addCloseBtn,
            title: "Edit User Info",
            width: 400,
            height: 400,
        });

    }

    function addCloseBtn() {
        var closeBtn = $('.ui-dialog-titlebar-close');
        closeBtn.append('<span class="ui-button-icon-primary ui-icon ui-icon-closethick" style="margin-top: -1px; margin-left: -1.5px;"></span><span class="ui-button-text">close</span>');
    }
    function closePopup(id) {
        $("#" + id).dialog('destroy');
        resEmail = "";
    }
    function saveUserInfo(id, email) {
        var usrPassword = $("#" + id + " .usrpasswordinput").val().trim();
        var usrName = $("#" + id + " .usrnameinput").val().trim();
        var valid = true;
      

        if (usrPassword.length > 0 && usrPassword.length < 6) {
            valid = false;
            $("#" + id + " .usrpasswordinputerror").show('slow');
        } else {
            $("#" + id + " .usrpasswordinputerror").hide('slow');
        }

        if (usrName === "") {
            valid = false;
            $("#" + id + " .usrnameinputerror").show('slow');
        } else {
            $("#" + id + " .usrnameinputerror").hide('slow');
        }


        if (valid) {
            $.post('@Url.Action("updateUserInfo", "Account")', { Email: email, UserName: usrName, Password: usrPassword }, function () {
                $("#UserListDiv").load('@Url.Action("UserList", "Admin")');
                closePopup(id);
            })
        }

    }


</script>
