@{
    ViewBag.Title = "DataInput";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript">
    $(document).ready(function () {
        $("#datepicker").datepicker({ dateFormat: 'yy-mm-dd' });
        var myDate = new Date();
        var day = myDate.getDate();

        day = day < 10 ? "0" + day : day;


        var prettyDate = myDate.getFullYear() + '-' + (myDate.getMonth() + 1) + '-' + day;
        $("#datepicker").val(prettyDate);

        $("#BtnAddShift").click(function () {
            $("#ProcessBlock").slideUp('slow');

            selectedProcess = null
            $("#SelShiftType").attr("disabled", false);
            $("#SelProcessType").attr("disabled", false);
           // $("#SelCatType").attr("disabled", false);
            $.ajax({
                url: '@(Url.Action("ProcessAddView", "DataInput"))',
                data: {},
                success: function (data) {
                    $("#ProcessBlock").html(data).slideDown('slow');
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(thrownError);
                }
            });
        });


    });
    function dateChanged() {
        console.log($("#datepicker").val());
        $("#ProcessesView").slideUp('slow');
        $.ajax({
            url: '@(Url.Action("ProcessAddedlist", "DataInput"))',
            data: { date: $("#datepicker").val() },
            success: function (data) {
                $("#ProcessesView").html(data).slideDown('slow');
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(thrownError);
            }
        });

    }
    function getMeasurements(ProcessID, ProcessTypeID) {
        var done = $.Deferred();
        console.log("getMeasurements(" + ProcessID + ")");
        $.ajax({
            url: '@(Url.Action("GetMeasurements", "DataInput"))',
            data: { ProcessTypeID: ProcessTypeID },
            success: function (data) {
                $("#MeasurementsBlock").html(data).slideDown('slow');
                $("#divBtnSave").slideDown("slow");
                done.resolve(true);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(thrownError);
                done.resolve(false);
            }
        });
        return done;
    }
    function getMeasurementsList(ProcessTypeID) {
        var doneMesList = $.Deferred();
        $.ajax({
            url: '@(Url.Action("GetMeasurementsList", "DataInput"))',
            data: { ProcessTypeID: ProcessTypeID },
            contentType: 'application/json',
            // dataType: 'json',
            success: function (data) {
                $.each(data, function (index, item) {
                    item.Desc = $.trim(item.Desc);
                    MeasurementsList.push(item);
                });
                doneMesList.resolve(true);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(thrownError);
                doneMesList.resolve(false);
            }
        });
        return doneMesList;

    }
    function getMeasurementsByProcessID(ProcessID) {

        $.ajax({
            url: '@(Url.Action("GetMeasurementsByProcessID", "DataInput"))',
            data: { ProcessID: ProcessID },
            contentType: 'application/json',
            // dataType: 'json',
            success: function (data) {
                $.each(data, function (index, item) {
                    $("#" + item.ID).val($.trim(item.Value));
                });
                console.log(data);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(thrownError);
            }
        });
    }
    function saveMeasurements() {
        if (currentProcessID == 0) {
            return false;
        }
        var allDone = true;
        $.each(MeasurementsList, function (index, item) {
            var val = $("#" + item.MeasurementTypeID).val();
            console.log($.trim(item.Desc) + ": " + val)
            if (val != "") {
                MeasurementCount++;
                var obj = {
                    ProcessID: currentProcessID,
                    MeasurementTypeID: item.MeasurementTypeID,
                    Value: val
                }
                saveMeasurement(obj);
            } else {
                allDone = false;
            }
        });
        $("#ProcessBlock").hide("slow");
        $("#MeasurementsBlock").hide("slow");
        dateChanged();
        $("#BtnAddShift").attr("disabled", false);

    }
    function saveMeasurement(MeasurmentObject) {
        console.log(MeasurmentObject);
        $.ajax({
            url: '@(Url.Action("AddMeasurement", "DataInput"))',
            data: MeasurmentObject,
            success: function (data) {
            },
            error: function (xhr, ajaxOptions, thrownError) {

            }
        });
    }
    function getProcessByProcessID(ProcessID) {
        currentProcessID = ProcessID;
        $.ajax({
            url: '@(Url.Action("GetProcessByProcessID", "DataInput"))',
            data: { ProcessID: ProcessID },
            contentType: 'application/json',
            // dataType: 'json',
            success: function (data) {
                if (data) {
                    selectedProcess = data;
                    $("#BtnAddShift").attr("disabled", true);
                    $("#ProcessBlock").slideUp();
                    $.ajax({
                        url: '@(Url.Action("ProcessAddView", "DataInput"))',
                        data: {},
                        success: function (data) {
                            $("#ProcessBlock").html(data);
                            //Set the Data
                            $("#SelShiftType").val(selectedProcess.ShiftTypeID);
                            $("#SelCatType").val(selectedProcess.ProcessCategoryID);
                            //this is here to update the ProcessType select Box
                            $("#SelCatType").change();
                            $("#TxtStartTime").val($.trim(selectedProcess.StartTime));
                            $("#TxtEndTime").val($.trim(selectedProcess.EndTime));
                            $("#SelShiftType").attr("disabled", true);
                            $("#SelCatType").attr("disabled", true);
                          
                            $("#ProcessBlock").slideDown("slow");
                            $.when(
                             getMeasurements(ProcessID, selectedProcess.ProcessTypeID),
                             getMeasurementsList(selectedProcess.ProcessTypeID)).done(function () {
                                 getMeasurementsByProcessID(ProcessID);
                             });
                            $("#BtnAddProcess").val("Save");
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            console.log(thrownError);
                        }
                    });
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(thrownError);
            }
        });
    }
    var MeasurementsList = [];
    var MeasurementCount = 0;
    var selectedProcess = null;
    var currentProcessID = 0;

</script>

<h2>DataInput</h2>
<img src="/Content/images/LargoLogo.gif" style="float:  right;">
<h4>Here you can capture the shift info</h4>
<div style="margin-left:15px;">
    <div class="form-group">
        <label class="col-sx-2 control-label" for="TxtEndTime">Date:</label>
        <div class="col-sx-10">
            <input id="datepicker" type="text" class="form-control" onchange="dateChanged();" />
        </div>
    </div>
    <div id="ProcessesView">
        @{Html.RenderAction("ProcessAddedlist", "DataInput");}
    </div>
    <input id="BtnAddShift" type="button" class="btn btn-default" value="Add Shift" />
    <div class="horizontalRule"></div>
</div>
<div id="ProcessBlock"></div>
<div id="MeasurementsBlock"></div>
<div class="horizontalRule"></div>
<div id="divBtnSave" style="display: none;">
    <input id="BtnSaveMeasurements" type="button" class="btn btn-default" value="Save" onclick="saveMeasurements();" />
</div>


@*@{Html.RenderAction("GetMeasurements", "DataInput");}*@