@model IEnumerable<GrabIt.Models.ProcessesView>
@Styles.Render("~/Content/css")
<table>
    <tr>
        <th> @Html.DisplayNameFor(model => model.Date)</th>
        <th> @Html.DisplayNameFor(model => model.Shift)</th>
        <th> @Html.DisplayNameFor(model => model.StartTime)</th>
        <th> @Html.DisplayNameFor(model => model.EndTime)</th>
        <th> @Html.DisplayNameFor(model => model.Desc)</th>
        <th> @Html.DisplayNameFor(model => model.UserName)</th>
    </tr>

    @foreach (var item in Model)
    {
        string date = item.Date.ToString("dd-MM-yyyy");
        <tr>
            <td> @date</td>
            <td> @Html.DisplayFor(modelItem => item.Shift)</td>
            <td> @Html.DisplayFor(modelItem => item.StartTime)</td>
            <td> @Html.DisplayFor(modelItem => item.EndTime)</td>
            <td> @Html.DisplayFor(modelItem => item.Desc)</td>
            <td> @Html.DisplayFor(modelItem => item.UserName)</td>

        </tr>
    }
</table>