@model IEnumerable<GrabIt.Models.ProcessesView>
<script type="text/javascript">
    $(document).ready(function () {
        $('#ProcessList').dataTable();
    });
</script>
<br />
<table id="ProcessList" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
           
            <th> @Html.DisplayNameFor(model => model.Date)</th>
            <th> @Html.DisplayNameFor(model => model.Shift)</th>
            <th> @Html.DisplayNameFor(model => model.StartTime)</th>
            <th> @Html.DisplayNameFor(model => model.EndTime)</th>
            <th> @Html.DisplayNameFor(model => model.Desc)</th>
            <th> @Html.DisplayNameFor(model => model.UserName)</th>
            <th> Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string date = item.Date.ToString("yyyy-MM-dd");
            <tr>
                
                <td> @date<span onclick="getProcessByProcessID(@Html.DisplayFor(modelItem => item.ProcessID)); " class="glyphicon glyphicon-pencil" style="color:limegreen; padding-left:20px; cursor: pointer;" title="Edit"></span></td>
                <td> @Html.DisplayFor(modelItem => item.Shift)</td>
                <td> @Html.DisplayFor(modelItem => item.StartTime)</td>
                <td> @Html.DisplayFor(modelItem => item.EndTime)</td>
                <td> @Html.DisplayFor(modelItem => item.Desc)</td>
                <td> @Html.DisplayFor(modelItem => item.UserName)</td>
                @if (item.Completed)
                {

                    <td><span class="glyphicon glyphicon-ok-circle" style="color:limegreen;display:block; text-align:center; margin:0 auto;" title="Complete"></span></td>
                }
                else
                {
                    <td><span class="glyphicon glyphicon-remove-circle" style="color:red;display:block; text-align:center; margin:0 auto;" title="Incomplete"></span></td>
                }

            </tr>
        }
    </tbody>
</table>